<!DOCTYPE html>
<html>

{% include head.html %}

<body>

    {% include header.html %}

    <!-- Description Section -->
    <section id="description" style="padding: 2em 0;">
        <div class="inner">
            <header class="major">
                <h2>Welcome</h2>
            </header>
            <p>I am a junior bioinformatician who completed a Master’s degree in Bioinformatics in 2023. During my final-year internship, I began specializing in the analysis of spatial transcriptomics data and, more broadly, in single-cell RNA sequencing (scRNA-seq) analysis. I also develop visualization applications and web-based solutions to support and enhance data exploration.</p>
        </div>
    </section>

    <!-- PDF Display Section -->
    <section id="pdf-viewer" style="padding: 2em 0;">
        <div class="inner">
            <header class="major">
                <h2>Curriculum Vitae</h2>
            </header>
            <iframe src="/michael-patron.io/assets/data/CV_Michael_Patron.pdf#zoom=200" width="90%" height="800px" style="border:none;"></iframe>
        </div>
    </section>

    {% include footer.html %}

</body>

</html>
